.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  li {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    transform: scale(0.95);
    transition: all .3s;
    white-space: pre-line;
    text-align: left;
    div {
      .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        gap: .5em;
        .remove {
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          background-color: #ec6b6b;
          border-radius: 3px;
          border: #ec6b6b;
          cursor: pointer;
        }
        p {
          input {
            font-size: 24pt;
          }
        }
      }
    }

    .done h2,
    .done p {
      text-decoration: line-through;
    }

    p {
      display: flex;
      flex-direction: row;
      padding: 0 20px;
      .head {
        font-weight: bold;
        font-size: 20pt;
      }
    }
  }

  li:hover {
    box-shadow: 2px 2px 5px silver;
    transform: scale(1);
  }
}
